<div id="wrapper">
    <left-navigation-content></left-navigation-content>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <app-header></app-header>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="m-t-lg">
                        <app-dashboard-content></app-dashboard-content>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>

