.ratio-table tbody > tr > td:nth-child(2) {
    text-align: right;
}
  
.statement-table thead > tr > th:nth-child(2) {
    text-align: center;
}



.ratio-table > tbody > tr > td {
    border: 0 none;
}
  