.statement-table tbody > tr > td:nth-child(3) {
    text-align: right;
    width: 15%
}
  
.statement-table tbody > tr > td:nth-child(4) {
    text-align: right;
    width: 15%
}

.statement-table thead > tr > th {
    text-align: center;
}

.statement-table-total-row {
    font-weight: bold;
}

.statement-table > tbody > tr > td {
    border: 0 none;
}
  
.statement-table-total {
    border-top: 1px solid #DDDDDD;
}
